/*=========================GENERAL=================================*/

* {
	margin:0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
	color: black;
}

body { 
	background-color: white;
}

/*================================================================*/
/*===============================HOME.PHP=========================*/
/*================================================================*/

	/*DIV MAIN*/
.main-home {
	border:1px solid black;
	position:relative;
	div
}

	/*LOGIN FORM*/
.login-home {
	border:1px solid blue;
}

	/*INSCRIPTION FORM*/
.register-home {

}
















/*================================================================*/
/*===============================GENERAL==========================*/
/*================================================================*/











/*================================================================*/
/*===============================GENERAL==========================*/
/*================================================================