/*=========================GENERAL=================================*/

* {
	margin:0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
	color: black;
}

body { 
	background-color: white;
	font-family: 'Open Sans', sans-serif;
}

/*================================================================*/
/*===============================HOME.PHP=========================*/
/*================================================================*/

h1 {
	text-align: center;
	margin: 30px;
}

	/*------------DIV MAIN------------*/
.main-home {
	width:100%;
	margin:100px 0;
	overflow: auto;
}

	/*------------LOGIN FORM------------*/
.login-home {
	border:1px solid blue;
	width:300px;
	right:5px;
	float:right;
	margin-right:100px;	
	margin-bottom:50px;
}

	/*----------INSCRIPTION FORM------------*/
.register-home {
	border:1px solid red;
	width:300px;
	right:5px;
	float:right;
	clear:both;
	margin-right:100px;	
}



/*================================================================*/
/*===============================FORGOT_PASSWORD.PHP==========================*/
/*================================================================*/

.main-forgot-password {
	width:100%;
	margin:50px 0;
	overflow: auto;
}

.forgot-password {
	text-align: center;
}

.form-forgot-password {
	margin:50px auto;
	width:220px;
}

.email-forgot-password {
	padding:5px;
}

.submit-forgot-password {
	padding:3px;
}

.error {
	color:#F44336;
	text-align: center;
}

.message {
	color:#00E676;
	text-align: center;
}


/*================================================================*/
/*===============================REINIT_PASSWORD.PHP=================*/
/*================================================================*/

.main-init-password {
	width:100%;
	margin:50px 0;
	overflow: auto;
}

p.init-password {
	text-align: center;
}

.form-init-password {
	margin:10px auto;
	width:220px;
}

input.submit-init-password {
	margin-top:5px;
}





/*================================================================*/
/*===============================PROFIL.PHP==========================*/
/*================================================================*/

.main-profil {
	width:100%;
	margin:100px 0;
	border:1px solid black;
}

.title-profil {
	text-align: center;
}