/*=========================GENERAL=================================*/

* {
	margin:0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
	color: black;
}

body { 
	background-color: white;
	font-family: 'Open Sans', sans-serif;
}

/*================================================================*/
/*===============================HOME.PHP=========================*/
/*================================================================*/

h1 {
	text-align: center;
	margin: 30px;
}

	/*------------DIV MAIN------------*/
.main-home {
	width:100%;
	margin:30px 0;
	overflow: auto;
}

	/*------------LOGIN FORM------------*/

h2.login {
	padding:10px;
}

.login-home {
	border:1px solid #ccc;
	width:330px;
	right:5px;
	float:right;
	margin-right:100px;	
	margin-bottom:20px;
	padding:10px;
	border-radius: 5px;
}


.error-login {
	font-size: 14px;
	color:#F44336;
	width:200px;
	}

.link-form-login {
	text-decoration:underline;
	font-size: 12px;
}


	/*----------INSCRIPTION FORM------------*/
h2.register {
	padding:10px;
}

.register-home {
	border:1px solid #ccc;
	width:330px;
	right:5px;
	float:right;
	clear:both;
	margin-right:100px;
	padding:10px;
	border-radius: 5px;
}



/*================================================================*/
/*===============================FORGOT_PASSWORD.PHP==========================*/
/*================================================================*/

.main-forgot-password {
	width:100%;
	margin:50px 0;
	overflow: auto;
}

.forgot-password {
	text-align: center;
}

.form-forgot-password {
	margin:10px auto;
	width:220px;
	padding:10px;
	border-radius:5px;
	border:1px solid #ccc;
}

.email-forgot-password {
	padding:5px;
}

.submit-forgot-password {
	padding:3px;
}

.error {
	color:#F44336;
	text-align: center;
}

.message {
	color:#00E676;
	text-align: center;
	margin-top:0;
}


/*================================================================*/
/*===============================REINIT_PASSWORD.PHP=================*/
/*================================================================*/

.main-init-password {
	width:100%;
	margin:50px 0;
	overflow: auto;
}

p.forgot-password{
	margin-bottom:30px;
	}

.title-init-password{
	margin-top:20px;

}

p.init-password {
	margin-top:25px;
	text-align: center;
}

.form-init-password {
	margin:10px auto;
	width:220px;
}

input.submit-init-password {
	margin-top:5px;
}

/*================================================================*/
/*===============================PROFIL.PHP==========================*/
/*================================================================*/

.main-profil {
	width:100%;
	margin:50px 0;
	height:400px;
	border:1px solid black;
	padding:10px;
	overflow: auto;
	position:relative;
}

h2.title-profil {
	text-align: center;
}


/*----------------ENCART PROFIL----------------*/

.image-profil {
	border:1px solid red;
	width:200px;
	padding:10px;
	}

.user_picture {
	margin:5px auto;
	padding:5px;
	border:1px solid red;
	width:180px;
	overflow: auto;
}

.username {
	width:180px;
	border:1px solid red;
	margin:5px auto;
	padding:5px;
}

.user_description{
	width:180px;
	border:1px solid red;
	margin:5px auto;
	padding:5px;
}

.link-modif-profil{
	text-decoration:underline;
	font-size: 14px;
}

/*---------------FIN -ENCART PROFIL----------------*/


/*---------------ENCART INSERT MESSAGE----------------*/

.add-profil-message{
	border:1px solid blue;
	width:500px;
	position:absolute;
	padding:10px;
	top:10px;
	right:480px;
}

.title-message{
	margin:5px;
	width:200px;
}

.description-message {
	margin:5px;
}

.picture-message{
	margin:5px;
}

.mess_picture {
	font
}

.url-message{
	margin:5px;
	width:420px;
}


/*---------------ENCART AFFICHE MESSAGE----------------*/

.affiche-message {
	border:1px solid orange;
	padding:5px;
	width:700px;
	margin-left:50px;
}

.profil-username {
	padding:5px;
}

.unique {
	padding:10px;
	border:2px solid #ccc;
	margin:5px;
}


/*---------------affiche 10----------------*/

.affiche10{
	position:absolute;
	top:10px;
	right:10px;
	padding:10px;
	}	



/*---------------FIN -affiche10----------------*/

/*---------------LIST TAGS----------------*/


.list-tags {
	width:125px;
	height:250px;
	border:1px solid purple;
	position:absolute;
	top:70px;
	right:20px;
}


/*================================================================*/
/*===============================INIT_PROFIL.PHP==========================*/
/*================================================================*/

.main-init-profil {
	width:100%;
	margin:50px 0;
	overflow: auto;
}

h2 {
	text-align: center,
}

.form-init-profil{
	margin:10px auto;
	width:220px;
}

input.submit-init-profil {
		margin-top:5px;
}

.init-profil-error {
	text-align:center;
	color:#F44336;;
}

/*================================================================*/
/*===============================OPTIONS SITE==========================*/
/*================================================================*/

.logout {
	text-decoration: underline;
	position:absolute;
	top:10px;
	right:10px;
	font-size:12px;
}

.link-modif-profil {
	font-size:12px;
	text-decoration: underline;
	position:absolute;
	top:35px;
	right:10px;
}