/*=========================GENERAL=================================*/

* {
	margin:0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
	color: black;
}

body { 
	background-color: white;
	font-family: 'Open Sans', sans-serif;
}

/*================================================================*/
/*===============================HOME.PHP=========================*/
/*================================================================*/

h1 {
	text-align: center;
	margin: 30px;
}

	/*------------DIV MAIN------------*/
.main-home {
	width:100%;
	margin:100px 0;
	overflow: auto;
}

	/*------------LOGIN FORM------------*/
.login-home {
	border:1px solid #ccc;
	width:330px;
	right:5px;
	float:right;
	margin-right:100px;	
	margin-bottom:50px;
	padding:10px;
	border-radius: 5px;
}

.error-login {
	font-size: 14px;
	color:#F44336;
	border:1px solid red;
	width:50px;
}

.link-form-login {
	text-decoration:underline;
	font-size: 12px;
}


	/*----------INSCRIPTION FORM------------*/
.register-home {
	border:1px solid #ccc;
	width:330px;
	right:5px;
	float:right;
	clear:both;
	margin-right:100px;
	padding:10px;
	border-radius: 5px;
}



/*================================================================*/
/*===============================FORGOT_PASSWORD.PHP==========================*/
/*================================================================*/

.main-forgot-password {
	width:100%;
	margin:10px 0;
	overflow: auto;
}

.forgot-password {
	text-align: center;
}

.form-forgot-password {
	margin:10px auto;
	width:220px;
	padding:10px;
	border-radius:5px;
	border:1px solid #ccc;
}

.email-forgot-password {
	padding:5px;
}

.submit-forgot-password {
	padding:3px;
}

.error {
	color:#F44336;
	text-align: center;
}

.message {
	color:#00E676;
	text-align: center;
	margin-top:0;
}


/*================================================================*/
/*===============================REINIT_PASSWORD.PHP=================*/
/*================================================================*/

.main-init-password {
	width:100%;
	margin:50px 0;
	overflow: auto;
}

p.forgot-password{
	margin-bottom:30px;
	}

.title-init-password{
	margin-top:20px;

}

h2,p.init-password {
	margin-top:25px;
	text-align: center;
}

.form-init-password {
	margin:10px auto;
	width:220px;
}

input.submit-init-password {
	margin-top:5px;
}

/*================================================================*/
/*===============================PROFIL.PHP==========================*/
/*================================================================*/

.main-profil {
	width:100%;
	margin:100px 0;
	border:1px solid black;
	padding:10px;
}

h2.title-profil {
	text-align: center;
}


/*----------------ENCART PROFIL----------------*/

.image-profil {
	border:1px solid red;
	width:200px;
	clear:both;
}

.user_picture {
	margin:5px auto;
	padding:5px;
	border:1px solid red;
	width:180px;
	overflow: auto;
}

.username {
	width:180px;
	border:1px solid red;
	margin:5px auto;
	padding:5px;
}

.user_description{
	width:180px;
	border:1px solid red;
	margin:5px auto;
	padding:5px;
}


/*---------------FIN -ENCART PROFIL----------------*/


/*---------------ENCART INSERT MESSAGE----------------*/

.add-profil-message{
	border:1px solid blue;
}

.title-message{
	margin:5px;
	width:200px;
}

.description-message {
	margin:5px;
}

.picture-message{
	margin:5px;
}

.url-message{
	margin:5px;
	width:250px;
}



/*---------------FIN -INSERT MESSAGE----------------*/



/*================================================================*/
/*===============================INIT_PROFIL.PHP==========================*/
/*================================================================*/

.main-init-profil {
	width:100%;
	margin:50px 0;
	overflow: auto;
}

h2 {
	text-align: center,
}

.logout {
	text-decoration: underline;
	position:absolute;
	top:10px;
	right:10px;
}

.form-init-profil{
	margin:10px auto;
	width:220px;
}

input.submit-init-profil {
		margin-top:5px;
}

.init-profil-error {
	text-align:center;
	color:#F44336;;
}